.App {
     max-width: 600px;
     margin: 20px auto;
     padding: 10px 0px 50px 0px;
     background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/114/772/original/girasoles.jpg?1707567509");
background-size: cover;
background-repeat: no-repeat;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  text-align: center;
  color: black;
  font-weight: 700;
  background-color: rgb(182, 182, 74);
}

a {
     color: rgb(1, 56, 1);
     font-weight: 900;
}

.container {
background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/114/772/original/girasoles.jpg?1707567509");
background-size: cover;
background-repeat: no-repeat;
opacity: 1.2;

}

.footer {
  margin-top: 80px;
}


@media only screen and (max-width: 600px) {
  .container {
    background-size: auto 100;
    background-position: center;
    margin-bottom: none;
  }
  .App {
     padding: 20px 0px 450px 0px;
  }
}
