.App {
     max-width: 600px;
     margin: 30px auto;
     padding: 10px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  text-align: center;
  color: black;
  font-weight: 700;
  background-color:#E8AE03;
  border: 2px solid white;
}

a {
     color: rgb(1, 56, 1);
     font-weight: 900;
}

.form-control {
  border: 3px solid #E8AE03;
 
}
.btn.btn-primary.w-100 {
background: #E8AE03;
color: black;
font-weight: 600;
border: 2px solid white;

}

.container {
background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/114/772/original/girasoles.jpg?1707567509");
background-size: cover;
background-repeat: no-repeat;
padding: 16px 12px;

}

@media only screen and (max-width: 600px) {
  .container {
    background-size: auto 100;
    background-position: center;
    margin-bottom: none;
  }
}
